@page
@using BussinessObject;
@model RazorPage.Pages.ComboDetailViewModel
@{
    if (SessionHelper.checkPermission(HttpContext.Session, "customer"))
    {
        Layout = "LayoutCustomer";
    }
}
<div class="container-fluid p-3 mb-5 bg-white">
    <div class="d-flex justify-content-between">
        <a asp-page="/ShoppingCombo">
            <img src="~/images/back-icon-3.png" style="padding-left: 30px;" />
        </a>
        <div>
        </div>
        <div>
        </div>
    </div>
    <h1 class="text-center mt-5 mb-5">Combo Information</h1>
    <hr />

    <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 0 200px 0 200px;">
        <div style="padding: 30px 30px 30px 30px;">
            <form>
                <div class="form-group">
                    <label asp-for="Combo.ComboName" class="control-label">Combo Name</label>
                    <input disabled asp-for="Combo.ComboName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Combo.Price" class="control-label"></label>
                    <input disabled type="number" asp-for="Combo.Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Combo.Discount" class="control-label"></label>
                    <input disabled type="number" asp-for="Combo.Discount" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Combo.ComboDescription" class="control-label">Description</label>
                    <input disabled asp-for="Combo.ComboDescription" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Combo.Ratingavg" class="control-label">Rating</label>
                    <input disabled asp-for="Combo.Ratingavg" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Price after discount</label>
                    @{
                        double avg = (double)Model.Combo.Price - ((double)Model.Combo.Price * Model.Combo.Discount / 100);
                    }
                    <input disabled type="number" class="form-control" value="@avg"/>
                </div>
            </form>
        </div>
    </div>

    <div style="margin: 0 200px 0 200px;">
        <h3>Combo details:</h3>
        <div class="d-flex justify-content-around" style="padding: 20px 50px 20px 0;">
            @foreach (var item in Model.ComboDetails)
            {
                <div class="d-flex justify-content-start">
                    @{
                        String imgLink = @item.Product.ImageLink;
                    }
                    <img src="~/uploads/@imgLink" width="200" height="200" style="margin-right: 20px" />
                    <div style="padding-top: 20px;">
                        <p style="font-weight: 500;">@item.Product.ProductName</p>
                        <p><span style="font-weight: 500;">Quantiy: </span>@item.Quantity</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 0 200px 0 200px;">
        <h4 class="card-header">
            Ratings
        </h4>
        <div class="card-body">
            @foreach (OrderComboDetail d in Model.orderComboDetails)
            {
                <h5 class="card-title">
                    @d.Order.User.UserName
                </h5>
                <p class="card-text">
                    @d.Feedback
                </p>
                <p style="font-weight: 500;">
                    @d.Rating sao
                </p>
            }
        </div>

        <hr />
    </div>
</div>