@page
@model RazorPage.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "LayoutAdmin";
}

<h1 class="text-center mt-5 mb-5">ACCOUNT MANAGEMENT</h1>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <form method="post">

            <div class="input-group mb-3">
                <input type="text" class="form-control" name="strsearch" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-dark" name="search" value="SEARCH" />
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr class="tr-custom">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @{
                            DateTime birthday = (DateTime)item.Birthday;
                            string formatDate = birthday.ToString("dd/MM/yyyy");
                        }
                        <span>@formatDate</span>
                    </td>
                    <td>
                        @{
                            if (item.Role.Equals("staff"))
                            {
                                <div>
                                    <img src="~/images/team-2.png">
                                </div>
                            }
                            else
                            {
                                <div>
                                    <img src="~/images/customer.png" />
                                </div>
                            }
                        }
                    </td>
                    <td>

                        @{
                            if (item.Status == true)
                            {
                                <div class="active-status">
                                    <span>Active</span>
                                </div>
                            }
                            else
                            {
                                <div class="inactive-status">
                                    <span>Inactive</span>
                                </div>
                            }
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.UserId">Edit</a>
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.UserId">Details</a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <button class="btn-primary rounded-pill px-4 py-2" asp-page="Create"><a asp-page="Create" style="color: #fff; text-decoration: none; font-weight: 600;">Create New</a></button>
</div>